*, *:before, *:after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: $base-font;
  color: $color-font;
  background: $color-bg;
}

img {
  max-width: 100%;
  height:auto;
}
strong, b {
  font-weight: 600;
}